root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{css,html}]
indent_style = tab

[*.js]
indent_size = 2
indent_style = space

[dependencies/chartjs-plugin-update-only-visible/**.js]
indent_size = unset
indent_style = tab
