html {
	font-family: Helvetica, Arial, sans-serif;
}
body, html, input {
	margin: 0;
	padding: 0;
}
header, main {
	margin: 0;
	padding: 0 0.5rem;
}
h1 {
	background-color: #EEE;
	margin: 0;
	padding: 0.5rem;
	text-align: center;
}
main h1 {
	margin: 1em -0.5rem 0;
}
.warning {
	background-color: #FDD;
	background: repeating-linear-gradient(-45deg, #FDD, #FDD 1rem, transparent 1rem, transparent 2rem);
	border-top: 1px solid #FDD;
}
h2 {
	margin: 0.5em 0;
	padding: 0.5em 0 0;
}
h2:not(:first-of-type) {
	border-top: 1px solid #CCC;
}
p {
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	margin: 0.5em 0;
	padding: 0;
	text-align: justify;
}
dl {
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	margin: 0.5em 0;
	padding-left: 7em;
	text-align: justify;
}
dt {
	box-sizing: border-box;
	display: inline-block;
	margin-left: -6.5em;
	min-width: 6.5em;
	padding-right: 0.5em;
}
dd {
	display: inline;
	margin:0;
	padding:0;
}
dd::after {
	content:"";
	display:block;
	margin-bottom: 0.25em;
}
ul {
	margin: 0.5em 0 0.5em 1.5em;
	padding: 0;
}
li {
	margin: 0.25em 0;
}
form {
	background-color: #EEE;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	padding: 0.5rem;
	width: 100%;
}
.chart-container {
	position: relative;
	width: 100%;
}
footer {
	background-color: #EEE;
	margin: 1rem 0 0;
	padding: 0.5rem;
	text-align: center;
}
.align {
	border-spacing: 0.5em 0.5em;
	display: table;
	margin: -0.5em auto;
}
.align > p {
	display: table-row;
	-webkit-hyphens: manual;
	-ms-hyphens: manual;
	hyphens: manual;
}
.align > p > span {
	display: table-cell;
}
.align > p > span:nth-child(3n+1) {
	text-align: right;
}
.align > p > span:nth-child(3n+2) {
	text-align: center;
}
.align > p > span:nth-child(3n+3) {
	text-align: left;
}
